<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">demo-app</a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active">
          <a ui-sref="signup">Sign up</a>
        </li>

        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active">
          <a ui-sref="login">Login</a>
        </li>

        <li ng-show="$ctrl.isLoggedIn()">
          <p class="navbar-text">Hello {{ $ctrl.getCurrentUser().name }}</p>
        </li>

        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active">
          <a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a>
        </li>

        <li ng-show="$ctrl.isLoggedIn()">
          <div class="btn-group" uib-dropdown is-open="status.isopen">
            <a
              uib-dropdown-toggle
              ng-click="$ctrl.openNotifications()"
              class="btn btn-link"
              id="single-button"
              style="padding:14px;"
              >
              <i class="fa fa-globe"></i>
              <span class="badge" ng-if="$ctrl.meta.new">{{ $ctrl.meta.new }}</span>
            </a>
            <ul
              uib-dropdown-menu
              ng-if="$ctrl.notifications.length"
              class="dropdown-menu"
              role="menu"
              aria-labelledby="single-button">
              <li
                role="menuitem"
                ng-repeat="notification in $ctrl.notifications">
                <a class="btn" ng-if="notification.Notifiable === 'Post'">
                  <strong>{{ notification.User.name }}</strong> posted at {{ notification.createdAt | date: 'medium' }}
                </a>

                <a class="btn" ng-if="notification.Notifiable === 'PostLike'">
                  <strong>{{ notification.User.name }}</strong> liked a post at {{ notification.createdAt | date: 'medium' }}
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
