<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Glubber</h1>
    <img src="assets/images/fish.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  

  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
    <form class="post-form">
      <p class="input-group">
        <input type="text" class="form-control" placeholder="What's Happening?" ng-model="$ctrl.newPost">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-click="$ctrl.addPost()">Glub</button>
        </span>
      </p>
    </form>
      <ul class="nav nav-tabs nav-stacked well" ng-repeat="post in $ctrl.postsFeed | reverse">
        <li>
          <a href="#">{{user.name}}<button type="button" class="close" ng-click="$ctrl.deletePost(post)">&times;</button></a>
          <div>
            <p>{{post.message}}</p>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="row">
                <a href="#" class="col-lg-6">
                  <i type="button" class="fa fa-reply" ng-click="$ctrl.replyToPost()"></i>
                </a>
                <a href="#" class="col-lg-6 pull-right">
                  <i type="button" class="fa fa-heart" ng-click=""></i>
                </a>
              </div>
            </div>
          </div>
          <div class="row" ng-show="$ctrl.reply">
            <input type="text" class="form-control" placeholder="What's Happening?" ng-model="$ctrl.newPost">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary" ng-click="$ctrl.addPost()">Glub</button>
            </span>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-3"></div>
  </div>

  
</div>
